.step1-main {
  background-image: url("./table2.jpg");
  min-height: 100vh;
  .step1-add-new {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
  }
}
